--- 
import CommonBase from "../components/commonBase.astro";
---

<CommonBase title="about me" navName="about">
    <main>
        <div class="section">
			<section>
				<h1>i want header 1</h1>
				<h2>i want header 2</h2>
				<h3>i want header 3</h3>
				<p>i want paragraph</p>
				<p>i want <sub>subscript</sub></p>
				<p>i want <sup>superscript</sup></p>
				<p><strong>i want strong text</strong></p>
				<p><em>i want emphasized text</em></p>
				<p><mark>i want marked text</mark></p>
                <p><ins>i want inserted text</ins></p>
				<p><del>i want deleted text</del></p>
				<p><a>i want link</a></p>
				<p><a class="reveal">i want hidden link</a></p>
				<small>i want small text</small>
			</section>
		</div>
    </main>
</CommonBase>