--- 
import CommonBase from "../components/commonBase.astro";
---

<CommonBase title="contact" navName="contact">
    <main>
        <div class="section">
			<section>
				<h2>contact me</h2>
				<h3 class="list-button"><a class="reveal" href="mailto:poison@aivi.party">poison@aivi.party</a></h3>
			</section>
		</div>
    </main>
</CommonBase>