--- 
import CommonBase from "../components/commonBase.astro";
---

<CommonBase title="contact" navName="contact">
    <main>
        <div class="section">
			<section>
				<h2>e-mail</h2>
				<h3 class="list-button"><a class="reveal" href="mailto:poison@aivi.party">poison@aivi.party</a></h3>
				<p>PGP key in <a href="https://aivi.party/poison-aivi-party-904DFA58.txt" target="_blank">TXT</a> or <a href="https://aivi.party/poison-aivi-party-904DFA58.asc" target="_blank">ASC</a> format. Who still uses this? <small>(D90EBAE6F16F976B6040BDD85F31A087904DFA58)</small></p>
			</section>
		</div>
		<div class="section">
			<section>
				<h2>other places</h2>
				<h3 class="list-button"><a class="reveal" href="https://aivi.party/" target="_blank">aivi.party!</a></h3>
				<small class="extra">my other website</small>
				<h3 class="list-button"><a class="reveal" href="https://github.com/poisonaivi" target="_blank">Github</a></h3>
				<h3 class="list-button"><a class="reveal" href="https://bsky.app/profile/aivi.party" target="_blank">Bluesky</a></h3>
				<h3 class="list-button"><a class="reveal" href="https://discord.com/users/802178124342493224" target="_blank">Discord</a></h3>
				<small class="extra">moots required</small>
				<h3 class="list-button"><a class="reveal" href="https://matrix.to/#/@poisonaivi:matrix.org" target="_blank">Matrix</a></h3>
				<small class="extra">not frequently checked</small>
			</section>
		</div>
    </main>
</CommonBase>

<style>
	.extra {
		display: block;
		margin-top: -1.25em;
	}
</style>