---
import IndexBase from "../components/indexBase.astro";
---

<IndexBase title="home">
	<main>
		<div class="section pair">
			<section>
				<h2>good afternoon*</h2>
				<p><a href="https://amethystx.net">amethystx.net</a> is now back online!—to be used as a playground and portfolio for my various web design endeavours. Notably, it's my first time using a framework and I am quite enjoying it (I still love pure html/css). This site in particular is held together by <a href="https://astro.build/" target="_blank">Astro</a>.</p>
				<p>My other website, <a href="https://aivi.party" target="_blank">aivi.party</a>, is staying up, and it's still the most up-to-date place to find things related to me and my artwork. It's a more permanent establishment of mine and remains the center of my web things.</p>
				<p><small>*..or at least I hope it is. There's no JS here yet.</small></p>
			</section>
			<aside>
				<h2>me n my frens</h2>
				<br>
				<a href="https://aivi.party/" target="_blank"><img src="https://aivi.party/assets/badges/aivi-party-88x31.gif"></a>&nbsp;&nbsp;
				<a href="https://westofjune.com/" target="_blank"><img src="https://westofjune.com/images/June88-31.png"></a>&nbsp;&nbsp;
				<a href="https://lambdalemon.gay/" target="_blank"><img src="https://lambdalemon.gay/geocities-new.gif"></a>&nbsp;&nbsp;
				<a href="https://mint.pages.gay/" target="_blank"><img src="https://mint.pages.gay/assets/okayso.gif"></a>&nbsp;&nbsp;
				<a href="https://queercoded.dev/" target="_blank"><img src="https://aivi.party/assets/badges/queer-coded.gif"></a>
			</aside>
		</div>
		<div class="section pair break-grid">
			<section>
				<h2>under construction</h2>
				<p>Lorem ipsum.. [PLACEHOLDER] New stuff is coming soon.... Come back later to see what's changed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio vero dolore culpa modi odit repellendus molestias voluptatem quam cupiditate, quidem, eligendi, quaerat blanditiis dignissimos itaque? Eveniet error voluptate eius sit.</p>
			</section>
			<aside>
				<h2>behold,</h2>
				<p>Responsive design?? Mobile compatibility?? Resize this page to see for yourself!</p>
			</aside>
		</div>
		<div class="section pair">
			<section>
				<h2>aheader</h2>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nulla minus officiis doloremque perspiciatis ab, aliquid ut rem, maxime quos alias est cupiditate laudantium <a href="">molestiae</a>! Itaque aperiam pariatur corporis autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus est quod atque, voluptas dignissimos, tempore unde laborum inventore commodi quaerat iure dolore rerum fuga, pariatur maxime necessitatibus sit iste error. Lorem ipsum dolor sit amet <a href="">consectetur adipisicing</a> elit. Perspiciatis sapiente recusandae dolore similique. Ab cupiditate ducimus provident quod. Impedit, <a href="">quos ratione</a>. Accusamus voluptatum, eveniet error a voluptatem atque. Vero, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt sit numquam voluptates modi <a href="">ipsa</a>, ducimus quaerat obcaecati molestiae velit officia voluptas, id <a href="">vero explicabo</a>, est quisquam nulla possimus exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit voluptatum excepturi ipsum adipisci, nemo impedit ad ea omnis ratione tempora vero sunt reiciendis quo aspernatur earum itaque non aperiam!</p>
			</section>
			<aside>
				<h2>aside</h2>
				<p>Unbelievable. You've never seen anything like this before.</p>
			</aside>
		</div>
		<div class="section">
			<section>
				<h2>aheader</h2>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nulla minus officiis doloremque perspiciatis ab, aliquid ut rem, maxime quos alias est cupiditate laudantium <a href="">molestiae</a>! Itaque aperiam pariatur corporis autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus est quod atque, voluptas dignissimos, tempore unde laborum inventore commodi quaerat iure dolore rerum fuga, pariatur maxime necessitatibus sit iste error. Lorem ipsum dolor sit amet <a href="">consectetur adipisicing</a> elit. Perspiciatis sapiente recusandae dolore similique. Ab cupiditate ducimus provident quod. Impedit, <a href="">quos ratione</a>. Accusamus voluptatum, eveniet error a voluptatem atque. Vero, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt sit numquam voluptates modi <a href="">ipsa</a>, ducimus quaerat obcaecati molestiae velit officia voluptas, id <a href="">vero explicabo</a>, est quisquam nulla possimus exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit voluptatum excepturi ipsum adipisci, nemo impedit ad ea omnis ratione tempora vero sunt reiciendis quo aspernatur earum itaque non aperiam!</p>
			</section>
		</div>
	</main>
</IndexBase>



