---
import Base from "../components/base.astro";
import Cover from "../components/cover.astro";
---

<Base title="home">
	<Cover />
	<main>
		<div class="pair">
			<section>
				<h2>good afternoon</h2>
				<p>God knows why you might be here.</p>
			</section>
			<aside>
				<h2>aside</h2>
				<p>hello there</p>
			</aside>
		</div>
		<div class="pair">
			<section>
				<h2>this site is under construction</h2>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nulla minus officiis doloremque perspiciatis ab, aliquid ut rem, maxime quos alias est cupiditate laudantium <a href="">molestiae</a>! Itaque aperiam pariatur corporis autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus est quod atque, voluptas dignissimos, tempore unde laborum inventore commodi quaerat iure dolore rerum fuga, pariatur maxime necessitatibus sit iste error. Lorem ipsum dolor sit amet <a href="">consectetur adipisicing</a> elit. Perspiciatis sapiente recusandae dolore similique. Ab cupiditate ducimus provident quod. Impedit, <a href="">quos ratione</a>. Accusamus voluptatum, eveniet error a voluptatem atque. Vero, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt sit numquam voluptates modi <a href="">ipsa</a>, ducimus quaerat obcaecati molestiae velit officia voluptas, id <a href="">vero explicabo</a>, est quisquam nulla possimus exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit voluptatum excepturi ipsum adipisci, nemo impedit ad ea omnis ratione tempora vero sunt reiciendis quo aspernatur earum itaque non aperiam!</p>
			</section>
			<aside>
				<h2>aside</h2>
				<p>aside Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut deserunt quibusdam earum? Unde repudiandae quam eligendi asperiores deleniti, ea expedita. Facere voluptas, commodi omnis tempora dolorem ex deserunt reiciendis minima!</p>
			</aside>
		</div>
		<section>
			<h2>header</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nulla minus officiis doloremque perspiciatis ab, aliquid ut rem, maxime quos alias est cupiditate laudantium <a href="">molestiae</a>! Itaque aperiam pariatur corporis autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus est quod atque, voluptas dignissimos, tempore unde laborum inventore commodi quaerat iure dolore rerum fuga, pariatur maxime necessitatibus sit iste error. Lorem ipsum dolor sit amet <a href="">consectetur adipisicing</a> elit. Perspiciatis sapiente recusandae dolore similique. Ab cupiditate ducimus provident quod. Impedit, <a href="">quos ratione</a>. Accusamus voluptatum, eveniet error a voluptatem atque. Vero, placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt sit numquam voluptates modi <a href="">ipsa</a>, ducimus quaerat obcaecati molestiae velit officia voluptas, id <a href="">vero explicabo</a>, est quisquam nulla possimus exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit voluptatum excepturi ipsum adipisci, nemo impedit ad ea omnis ratione tempora vero sunt reiciendis quo aspernatur earum itaque non aperiam!</p>
		</section>
	</main>
</Base>



