---
const {title, ...rest} = Astro.props;
import "../styles/main.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - amethystx.net</title>
	</head>
	<body>
        <slot />
	</body>
</html>