---

---


<br>
<small>version 1.0.0 beta</small>
<br>
<small>no generative ai used</small>
<br>
<small>&copy; 2024-2026 amethyst. poison@<a class="reveal" href="https://aivi.party/" target="_blank">aivi.party</a></small>