---

---

<header>
    <nav>
        <h3><a class="reveal" href="/">home</a> •&nbsp;</h3>
        <h3><a href="/about">about me</a> •&nbsp;</h3>
        <h3><a class="reveal" href="/blog">blog</a> •&nbsp;</h3>
        <h3><a class="reveal" href="/contact">contact</a></h3>
    </nav>
    <hr>
</header>

<style>
    header {
        /* min-height: 20em; */
        background-image: linear-gradient(#000, #0000);
    }
    nav {
        /* margin-top: 5em; */
    }
    h3 {
        display: inline-block;
        white-space: nowrap;
        transform-origin: 0 100%;
    }
</style>