@font-face {
    font-family: "Monopix";
    src: url('/fonts/monopix.woff2');
    font-weight: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Monopix XL";
    src: url('/fonts/monopix-xl.woff2');
    font-weight: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Redaction 35";
    src: url('/fonts/Redaction_35-Regular.woff2');
    font-weight: normal;
}
@font-face {
    font-family: "Redaction 35";
    src: url('/fonts/Redaction_35-Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: "Redaction 50";
    src: url('/fonts/Redaction_50-Regular.woff2');
    font-weight: normal;
}
@font-face {
    font-family: "Redaction 50";
    src: url('/fonts/Redaction_50-Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: "Redaction 70";
    src: url('/fonts/Redaction_70-Regular.woff2');
    font-weight: normal;
}
@font-face {
    font-family: "Redaction 70";
    src: url('/fonts/Redaction_70-Bold.woff2');
    font-weight: bold;
}
:root {
    --border: 2px solid var(--bg-acc);
    --margin: 30px;
    --aside: 350px;
    --bg: #16072b;
    --bg-grid: #2c0f56;
    --bg-acc: #4b2185;
    --text: #d7dfd2;
    --text-acc: #dd9bdd;
    --acc: #9731ad;
}
body {
    margin: 0;
    background-color: var(--bg);
    background-image: linear-gradient(0deg, var(--bg-grid) 2%, #0000 2%), linear-gradient(90deg, var(--bg-grid) 2%, #0000 2%);
    background-size: 60px 60px;
    background-position: calc(100vw - var(--aside)) calc(80vh + 1px);
    font-family: "Redaction 35", "Monopix XL";
    color: var(--text);
    overflow-x: hidden;
    image-rendering: crisp-edges;
}
h1 {
    font-family: "Redaction 35", "Monopix XL";
    font-size: 4rem;
    color: var(--acc);
}
h2 {
    font-family: "Redaction 50", "Monopix XL";
    font-size: 3rem;
    color: var(--acc);
    margin-bottom: 0;
}
h3 {
    font-family: "Redaction 50", "Monopix XL";
    font-size: 2rem;
    color: var(--text-acc);
}
p {
    line-height: 200%;
    max-width: 1000px;
}
small {
    color: var(--acc);
    font-family: "Redaction 70", "Monopix";
}
hr {
    border: none;
    border-top: var(--border);
}
main, header, footer {
    padding-left: var(--margin);
    padding-right: var(--margin);
}
a {
    text-decoration: none;
    color: inherit;
    z-index: 1;
    position: relative;
    display: inline-block;
    opacity: 1;
    transition: 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        z-index: -1;
        translate: 0 -50%;
        display: block;
        width: calc(100% + 0.05em);
        height: 1.4em;
        background: var(--bg-grid);
        box-shadow: 0 0.1em 0 var(--text-acc);
        transition: inherit;
    }
    &:hover {
        &::after {
            height: 1.6em;
        }
    }
    &:active {
        opacity: 0.5;
    }
    &.reveal {
        &::after {
            height: 1.6em;
            width: 0;
        }
        &:hover {
            &::after {
                width: calc(100% + 0.05em);
            }
        }
    }
}
.wide-only {
    @media screen and (max-width: 800px) {
        display: none !important;
    }
}
.tall-only {
    @media screen and (min-width: 800px) {
        @media screen and (max-height: 800px) {
            display: none !important;
        }
    }
}
.pair {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 800px) {
        display: block;
    }
}
section {
    width: calc(100vw - (var(--aside) + var(--margin)));
    @media screen and (max-width: 800px) {
        width: 100%;
    }
}
aside {
    width: calc(var(--aside) - (2 * var(--margin)));
    height: 100%;
    box-sizing: border-box;
    @media screen and (max-width: 800px) {
        padding: 0;
        width: 100%;
    }
}
.nav-item {
    &::before {
        content: "[ ";
        color: var(--bg-acc);
    }
    &::after {
        content: "]";
        color: var(--bg-acc);
        position: absolute;
        right: var(--margin);
    }
}